html {
    font-family: "Arial";
    font-weight: 200;
    font-size: 62.5%;
    color: #111111;
    overflow-y: scroll;
  }
  
/*  .container {
    background-color: white;
    border-radius: 5px;
    font-size: 1.7rem;
    box-shadow: rgb(240, 240, 240) 5px 5px 5px 0px;
    border: thin solid rgb(240, 240, 240);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  
    padding-left: 80px;
    padding-right: 80px;
    width: 80%;
  
    @media (max-width: 500px) {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
  
    @media (max-width: 800px) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }*/